/* ==========
    TODO: [ UNIVERSAL ELEMENT STYLE ]
            =========== */

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #f09d51;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: "Lato", sans-serif;
}

/* ---------------> Start Of Navbar <---------------- */
.navbar {
  position: sticky;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  background: rgb(231, 226, 221);
  z-index: 1;
}
.navbar-center {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
}
.nav-icon {
  font-size: 1.5rem;
}
.nav-icon:hover {
  cursor: pointer;
  color: var(--primaryColor);
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}
.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primaryColor);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--mainWhite);
}
/* ---------------> End Of Navbar <---------------- */

/* ---------------> Start Of Hero <---------------- 
.hero {
  min-height: calc(100vh - 60px);
  background: url("../img/hero-bcg.jpeg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner {
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  display: inline-block;
  padding: 2rem;
}
.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 3rem;
}
.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  font-size: 1rem;
  background: var(--primaryColor);
  color: var(--mainBlack);
  border: 1px solid var(--primaryColor);
  transition: var(--mainTransition);
  cursor: pointer;
}
.banner-btn:hover {
  background: transparent;
  color: var(--primaryColor);
}
 ---------------> End Of Hero <---------------- */

/* ---------------> Start Of Products <---------------- */
.products {
  /*padding: 4rem 0;*/
}
.section-title h2 {
  text-align: center;
  font-size: 2.5rem; 
 /* margin-bottom: 5rem; */
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.img-container {
  position: relative;
  overflow: hidden;
}
.bag-btn {
  position: absolute;
  top: 70%;
  right: 0;
  background: var(--primaryColor);
  border: none;
  text-transform: uppercase;
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--mainSpacing);
  font-weight: bold;
  transition: var(--mainTransition);
  transform: translateX(101%);
  cursor: pointer;
}

.bag-btn:hover {
  color: var(--mainWhite);
}
.fa-shopping-cart {
  margin-right: 0.5rem;
}

.img-container:hover .bag-btn {
  transform: translateX(0);
}
.product-img {
  display: block;
  width: 100%;
  min-height: 12rem;
  transition: var(--mainTransition);
  border-radius: 5%;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  -ms-border-radius: 5%;
  -o-border-radius: 5%;
}
/*
.img-container:hover .product-img {
  opacity: 0.5;
}*/

.product h3 {
  text-transform: capitalize;
  font-size: 1.1rem;
  margin-top: 0.3rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.product a {
  text-transform: capitalize;
  font-size:larger;
  margin-top: 0.3rem;
  letter-spacing: var(--mainSpacing);
  align-items: center;
  text-align: center;
}
.product h4 {
  font-size:medium;
  font-weight: bold;
  margin-top: 0.3rem;
  letter-spacing: normal;
  color: rgb(0, 0, 131);
  text-align: center;
}
/* ---------------> End Of Products <---------------- */

/* ---------------> Start Of Cart <---------------- */
.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: var(--mainTransition);
  background: rgb(240, 157, 81, 0.5);
  z-index: 2;
  visibility: hidden;
}
.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  z-index: 3;
  background: rgb(231, 226, 221);
  padding: 1.5rem;
  transition: var(--mainTransition);
  transform: translateX(100%);
}
.showCart {
  transform: translateX(0);
}
.transparentBcg {
  visibility: visible;
}
@media screen and (min-width: 768px) {
  .cart {
    width: 30vw;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}
.close-cart:hover {
  color: red;
}
.cart h2 {
  text-transform: capitalize;
  text-align: center;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 2rem;
}

/* ---------------> Cart Item Start <--------------- */
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 75px;
  height: 75px;
}
.cart-item h4 {
  font-size: 0.85rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.cart-item h5 {
  margin: 0.5rem 0;
  letter-spacing: var(--mainSpacing);
}
.item-amount {
  text-align: center;
}
.remove-item {
  color: rgb(255, 0, 0);
  cursor: pointer;
}
.remove-item:hover {
  color: red;
  font-weight: bold;
  transition: var(--mainTransition);
  -webkit-transition: var(--mainTransition);
  -moz-transition: var(--mainTransition);
  -ms-transition: var(--mainTransition);
  -o-transition: var(--mainTransition);
}
.fa-plus {
  color: var(--primaryColor);
  cursor: pointer;
}
.fa-minus {
  color: red;
  cursor: pointer;
}
/* ---------------> Cart Item End <--------------- */

.cart-footer {
  margin-top: 2rem;
  letter-spacing: var(--mainSpacing);
  text-align: center;
}
.cart-footer h3 {
  text-transform: capitalize;
  margin-bottom: 1rem;
}

/* ---------------> End Of Cart <---------------- */

/* Carousel base class */
.carousel {
margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
bottom: 3rem;
z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
height: 32rem;
}
.carousel-item > img {
position: absolute;
top: 0;
right: 0;
min-width: 100%;
height: 32rem;
}
/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
margin-bottom: 1.5rem;
text-align: center;
}
.marketing h2 {
font-weight: 400;
}
.marketing .col-lg-4 p {
margin-right: .75rem;
margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
font-weight: 300;
line-height: 1;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
/* Bump up size of carousel content */
.carousel-caption p {
margin-bottom: 1.25rem;
font-size: 1.25rem;
line-height: 1.4;
}

.featurette-heading {
font-size: 50px;
}
}

@media (min-width: 62em) {
.featurette-heading {
margin-top: 7rem;
}
}  
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.fab {
     font-size: 20px;
   width: 30px;
    text-align: center;
    text-decoration: none;
  }
  .fas {
    font-size: 20px;
  width: 30px;
   text-align: center;
   text-decoration: none;
 }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    color: rgb(17, 0, 255);
  }
  .fa-whatsapp-square{
    color: rgb(0, 90, 0);
  }
  /* Twitter */
  .fa-youtube {
    color: rgb(179, 0, 0);
  }
  
  .fa-instagram {
    color: rgb(123, 67, 67);
  }

  .fa-home{
      color: rgb(0, 0, 0);
  }

  .fa-arrow-alt-circle-up{
    color: rgb(0, 0, 0);
    }
    .destinations
    {
      width: 100%;
      background: #FFFFFF;
      padding-top: 115px;
      padding-bottom: 116px;
    }
    .section_subtitle
    {
      font-family: 'Oswald', sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #72728c;
      line-height: 0.75;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
    .section_title
    {
      color: #181818;
      margin-top: 26px;
    }
    .destination_sorting_row
    {
      margin-top: 100px;
    }
    .destination_sorting
    {
      width: 100%;
    }
    .item_sorting > li
    {
      display: inline-block;
      position: relative;
      width: 123px;
      height: 33px;
      background: #f2f5f6;
      line-height: 33px;
      cursor: pointer;
      padding-left: 20px;
      padding-right: 17px;
      margin-right: 8px;
      font-family: 'Oswald', sans-serif;
      font-size: 12px;
      font-weight: 400;
      color: #7c7c94;
      margin-bottom: 10px;
    }
    .item_sorting > li:last-child
    {
      margin-right: 0;
    }
    .num_sorting_text
    {
      padding-right: 11px;
    }
    .item_sorting li i
    {
      float: right;
      line-height: 33px;
      font-size: 12px;
      color: #7c7c94;
    }
    .item_sorting li ul
    {
      display: block;
      position: absolute;
      right: 0;
      top: 120%;
      margin: 0;
      width: 100%;
      background: #FFFFFF;
      visibility: hidden;
      opacity: 0;
      z-index: 1;
      box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: all 0.3s ease;
    }
    .item_sorting > li:hover ul
    {
      visibility: visible;
      opacity: 1;
      top: calc(100% + 1px);
    }
    .item_sorting li ul li
    {
      display: block;
      text-align: left;
      padding-left: 15px;
      padding-right: 15px;
    }
    .item_sorting li ul li span
    {
      display: block;
      height: 36px;
      line-height: 36px;
      border-bottom: solid 1px #dddddd;
      color: #131a2f;
      text-align: right;
      padding-right: 22px;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: all 0.3s ease;
    }
    .item_sorting li ul li span:hover
    {
      color: #b5aec4;
    }
    .item_sorting li ul li:last-child span
    {
      border-bottom: none;
    }
    .item_sorting li span:nth-child(2)
    {
      margin-left: 63px;
    }
    .sort_box
    {
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
    .sort_box i
    {
      width: 100%;
      height: 100%;
      font-size: 18px;
      color: #7c7c94;
      -webkit-transition: all 200ms ease;
      -moz-transition: all 200ms ease;
      -ms-transition: all 200ms ease;
      -o-transition: all 200ms ease;
      transition: all 200ms ease;
    }
    .sort_box i:hover
    {
      color: #181818;
    }
    .destinations_row
    {
      margin-top: 45px;
    }
    .destination_image
    {
      width: 100%;
    }
    .destination_image img
    {
      max-width: 100%;
    }
    .spec_offer
    {
      position: absolute;
      top: 15px;
      left: 16px;
      width: 118px;
      height: 30px;
      background: rgba(0, 128, 0, 0);
      border-radius: 40%;
    }
    .spec_offer a
    {
      display: block;
      font-family: 'Oswald', sans-serif;
      font-size: 12px;
      color: #ffffff77;
      line-height: 36px;
      font-weight: 400;
    }
    .destinations_container
    {
      width: calc(100% + 30px);
      left: -15px;
    }
    .destination
    {
      width: calc(100% / 3);
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 58px;
    }
    .destination_title
    {
      margin-top: 15px;
    }
    .destination_title a
    {
      font-family: 'Oswald', sans-serif;
      font-size: 30px;
      font-weight: 400;
      color: #181818;
    }
    .destination_subtitle
    {
      margin-top: -4px;
    }
    .destination_price
    {
      font-size: 16px;
      font-weight: 700;
      color: #181818;
      margin-top: 16px;
    }
    .destination_list
    {
      margin-top: 41px;
    }
    .destination_list ul li
    {
      position: relative;
      font-size: 15px;
      font-weight: 600;
      color: #72728c;
      padding-left: 36px;
    }
    .destination_list ul li:not(:last-child)
    {
      margin-bottom: 14px;
    }
    .destination_list ul li::before
    {
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      width: 7px;
      height: 7px;
      background: #181818;
      border-radius: 50%;
      content: '';
    }
    .load_more_button
    {
      margin-left: auto;
      margin-right: auto;
      margin-top: 51px;
    }
    .map-container-6{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      }
      .map-container-6 iframe{
      left:0;
      top:0;
      height:100%;
      width:100%;
      position:absolute;
      }
